.item-detail  {
    border: 1px;
    display: flex;
    justify-content: center;
    padding: 15px 20px ;
    align-items: center;
    width: 100%;
    gap: 50px;
    flex-direction: row-reverse;
    text-align: center;

}
.item-detail img {
    height: 300px;
    border-radius: 5%;
}
 .card-title-detail {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: xx-large;

 }